body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Set to a shade of yellow */
    color: #333;
}
#content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333; /* Dark background color */
    color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: fadeIn 0.5s ease-in-out;
}

h1 {
    color: #ffc107; 
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff; 
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #444; 
    color: #fff; 
}

button {
    background-color: #ffc107; /* Yellow button background color */
    color: #333; /* Dark button text color */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.back-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #ffc107; /* Yellow button background color */
    color: #333; /* Dark button text color */
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #ffdb58; /* Lighter yellow on hover */
}
button:hover {
    background-color: #ffdb58; /* Lighter yellow on hover */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.messages {
    margin-top: 15px;
}

.messages li {
    padding: 10px;
    border-radius: 4px;
}

.messages .error {
    background-color: #f8d7da;
    color: #721c24;
}

.messages .success {
    background-color: #d4edda;
    color: #155724;
}

/* Simple fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    background-color: #444; /* Dark navigation background color */
    color: #fff; /* White navigation text color */
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    background-color: #444; /* Dark footer background color */
    color: #fbfbfb; /* White footer text color */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
