<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Regex Matcher{% endblock %}</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <header>
        <nav>
            <a href="webapp\Templates\index.html">Home</a>
            <a href="webapp\Templates\results.html">Results</a>
        </nav>
    </header>

    <div id="content">
        <aside class="sidebar left-sidebar">
        </aside>

        <main>
            {% block content %}{% endblock %}
        </main>

        <aside class="sidebar right-sidebar">
        </aside>
    </div>

    <footer>
        &copy; 2024 Innomatics Research Labs
    </footer>
</body>
</html>
